.home-page {
    width: 100vw;
    height: 90vh;
    /* background-image: linear-gradient(90deg, #ecf0ff 50%, #fff 50%); */
    text-align: center;
  }

  .home-page .home-div p {
    font-size: 12px;
    font-weight: 800;
    color: #3e64ff;
    letter-spacing: 4px;
    margin-bottom: 20px;
  }

  .sign-in {
    height: 90vh;
    display: grid;
    place-items: center;
  }
  
  .signup-image {
    margin: 0 55px;
  }
  .form-title {
    margin-bottom: 33px;
    font-weight: bold;
  }
  .signin-form {
    margin-right: 90px;
    margin-left: 80px;
    order: 1;
    padding: 0 30px;
  }
  .form-title {
    margin-bottom: 33px;
    font-weight: bold;
  }

  .register-form {
    width: 100%;
  }

  .form-group {
    /* position: relative; */
    margin-bottom: 25px;
    overflow: hidden;
  }

  
.zmdi-facebook {
  background: #3b5998;
}

.zmdi-twitter {
  background: #1da0f2;
}

.zmdi-google {
  background: #e72734;
}

.signin-content {
  padding-top: 67px;
  padding-bottom: 87px;
}


.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.socials li {
  padding: 5px;
}

.socials li a {
  text-decoration: none;
}

.socials li a i {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.social-login {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.social-label {
  display: inline-block;
  margin-right: 15px;
}
.form-group {
  margin-bottom: 25px;
  overflow: hidden;
}
.form-title {
  margin-bottom: 33px;
  font-weight: bold;
}

.container {
  width: 1000px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}
.signup {
  height: 85vh;
  display: grid;
  place-items: center;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.form-group:last-child {
  margin-bottom: 0px;
}

.signup-content {
  padding: 75px 0;
}

.form-group:last-child {
  margin-bottom: 0px;
}

input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 5px;
  padding: 6px 30px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

label {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: #222;
}

.togg{
  border: 2px solid blue;
  border-radius: 5px;
  background-color: coral;
  position: relative;
  top: 200px;
  right:600px;
}